<div class="container">
<div class="intro-text">
<img class="formback"src="/img/forms.png" class="img-responsive" alt="Myklovr">
<class="col-lg-8">
                    <form class="form-horizontal">
                                <form class="form-horizontal">
                                    <div class="signup">
                                    <div class="insert">  
                                      <form action="/insertbusiness" method="post">
                                      <div class="input">
                                        <div class="form-group">                                        
                                      <label class="control-label col-sm-2" for="name">Name:</label>
                                      <div class="col-sm-10">
                                        <input type="name" class="form-control" id="name" placeholder="Enter your Full Name">
                                      </div>
                                      </div>
                                        <div class="form-group">
                                        <label class="control-label col-sm-2" for="email">Email:</label>
                                        <div class="col-sm-10">
                                        <input type="email" class="form-control" id="email" placeholder="Enter your email">
                                      </div>

                                      </div>
                                      <div class="form-group">                                        
                                      <label class="control-label col-sm-2" for="companytitle">Company Title:</label>
                                      <div class="col-sm-10">
                                        <input type="companytitle" class="form-control" id="companytitle" placeholder="Enter Company Title">
                                      </div>
                                      </div>
                                      <div class="form-group">                                        
                                      <label class="control-label col-sm-2" for="companyname">Company Name:</label>
                                      <div class="col-sm-10">
                                        <input type="companyname" class="form-control" id="companyname" placeholder="Enter your Company Name">
                                      </div>
                                    </div>
                                    <div class="col-lg-12 text-center">
                                    <button type="submit" class="page-scroll btn btn-xl">Submit</button>
                                </div>
                        </form>
                </div>